:root {
}

.Button {
    width: 100px;
    height: 100px;
    background-color: rgba(188, 188, 188, 0);
    font-size: 100px;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 2px;
    -unity-font-style: normal;
    -unity-font-definition: url("project://database/Assets/UI/Asset/BoldPixels.otf?fileID=12800000&guid=19b9bfe81b147ba4f91b639e7c1b07d9&type=3#BoldPixels");
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
}

.Button:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-out-elastic;
    scale: 1.05 1.05;
}

.BeforeMessage {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    scale: 1 1;
    opacity: 0;
    background-color: rgba(64, 64, 64, 0.502);
}

.AfterMessage {
    opacity: 1;
    display: flex;
}
